.body {
  min-width: 320px;
  margin: 0;
  height: 100%;
  font-family: "Oswald", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @basic-black;
  background-color: @basic-white;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

/* * {
  outline: 1px solid lightsalmon;
}*/


