.button {
  width: 280px;
  height: 40px;
  margin-left: auto;
  margin-right: auto;
  font-family: @oswald;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  background-color: @basic-primary;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button--more {
  color: @special-dark-grey;
  background-color: @basic-grey;
}

.button--extra {
  width: 100%;
}

// ****************************************   TABLET   **************************************** //
@media (min-width: @tablet-width) {
  .button {
    width: 244px;
    height: 54px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 370px;
    left: 14.5%;
  }

  // Catalog.html //
  .button--catalog {
    width: 248px;
    height: 39px;
    margin-bottom: 40px;
    position: static;
  }

  .button--extra {
    width: 89.3%;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button--more {
    width: 249px;
    height: 40px;
    margin-bottom: 0;
  }

  // Form.html //
  .button--form {
    width: 282px;
    height: 52px;
    font-size: 20px;
    top: 1200px;
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .button {
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .button--more {
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    margin-bottom: 0;
  }

  // Дополнительные товары //
  .button--extra {
    width: 244px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 17px;
    margin-left: 38px;
    margin-right: 0;
  }
}
