// Нужно ли стиль по тегу выносить в отдельный лесс-файл ? //
button {
  border: none;
  margin: 0;
}

@media (min-width: @mobile-width) {
  .button {
    width: 100%;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    font-family: @oswald;
    font-size: 16px;
    line-height: 20px;
    color: @basic-white;
    background-color: @basic-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
  }

  .button--more {
    color: @special-dark-grey;
    background-color: @basic-grey;
  }

}

// ****************************************   TABLET   **************************************** //
@media (min-width: @tablet-width) {
  .button {
    width: 244px;
    height: 54px;
    font-size: 16px;
    line-height: 20px;
    position: absolute;
    top: 370px;
    left: 14.5%;
  }

  // Catalog.html //
  .button--catalog {
    width: 248px;
    height: 39px;
    margin-bottom: 40px;
    position: static;
  }

  .button--extra {
    width: 89.3%;
    margin-top: 28px;
    margin-bottom: 28px;
  }

  .button--more {
    width: 249px;
    height: 40px;
    margin-bottom: 0;
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .button {
    width: 68.6%;
    height: 40px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 0;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  .button--more {
    width: 69%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 87px;
    margin-bottom: 0;
  }

  // Дополнительные товары //
  .button--extra {
    width: 244px;
    font-size: 16px;
    margin-top: 15px;
    margin-bottom: 17px;
    margin-left: 38px;
    margin-right: 0;
  }
}
