// Нужно ли стиль по тегу выносить в отдельный лесс-файл ? //
button {
  border: none;
  margin: 0 auto;
}

@media(min-width:@mobile-width) {
  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    text-decoration: none;
    text-transform: uppercase;
    font-family: @oswald;
    color: @basic-white;
    background-color: @basic-primary;
    font-size: 14px;
    line-height: 18px;
  }

  .button--more {
    color: @special-dark-grey;
    background-color: @basic-grey;
  }
}

// TABLET //
@media(min-width:@tablet-width) {
  .button {
    width: 244px;
    height: 54px;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 370px;
    left: 14.5%;
  }
}
