/*.catalog__item {
  outline: 1px solid blue;
  outline-offset: -1px;
}*/

.catalog__content {
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;
}

.catalog__vary-image {
  width: 105px;
  display: flex;
  padding-top: 35px;
  padding-left: 35px;

  /*outline: 2px solid skyblue;
  outline-offset: -2px;*/
}

.catalog__vary-name {
  display: flex;
  width: 100px;
  text-decoration: none;
  color: @special-dark-grey-2;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;

  /* outline: 2px solid orange; */
}

.catalog__vary-name--water {
  width: 100%;
}

.catalog__heading {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @invite;

}

.catalog__text-smal {
  font-family: @arial;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: block;
  text-align: center;
  color: @special-dark-grey;
  margin-bottom: 20px;
}

.catalog__subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @basic-black;
}

.catalog__present {
  display: flex;
  width: 280px;
  height: 289px;
  background-image: url(../../img/gift-photo-mobile.png);
  margin-top: 39px;
  margin-bottom: 35px;
}

.catalog__text {
  width: 161px;
  font-family: @arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 58px;
}

