.catalog__item {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  /*outline: 3px solid blue;
  outline-offset: -3px;*/
}

.catalog__wrapper {
  display: flex;
  margin-top: 20px;
  margin-bottom: 25px;

  /*outline: 4px solid skyblue;*/
}

.catalog__vary-image {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  /*background-color: plum;*/
}

.catalog__container {
  width: 50%;
  /*outline: 4px solid yellowgreen;
  outline-offset: -4px;*/
}

.catalog__heading {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: @special-dark-grey-2;

  /*outline: 2px solid red;*/
}

.catalog__vary-name {
  display: flex;
  width: 100px;
  text-decoration: none;
  color: @special-dark-grey-2;
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: left;

  /*background-color: palegoldenrod;*/
}

.catalog__vary-name--water {
  width: 100%;
}

.catalog__subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: left;
  color: @basic-black;
}

.catalog__present {
  display: flex;
  width: 280px;
  height: 289px;
  background-image: url("../img/gift-photo-mobile.png");
  margin-top: 39px;
  margin-bottom: 35px;
}

.catalog__text {
  width: 161px;
  font-family: @arial;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: @basic-white;
  display: flex;
  align-items: center;
  text-align: center;
  margin-left: 58px;
}


.catalog__wrapper--extra{
  width: 87.5%;
  margin-left: 20px;
  margin-right: 20px;

  outline: 5px dashed rgb(116, 231, 116);
  outline-offset: -5px;
}


// ****************************************   TABLET   **************************************** //

@media (min-width: @tablet-width) {
  .catalog__item {
    width: 42%;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 140px;
    background-color: @basic-grey;

    position: relative;
    /*outline: 5px solid blue;
    outline-offset: -2px;*/
  }

  .catalog__wrapper {
    margin-top: 161px;
    display: block;

    /*outline: 4px solid skyblue;*/
  }

  .catalog__vary-image {
    width: 52%;
    height: 50%;

    position: absolute;
    top: -20%;
    left: 22%;
    /*background-color: plum;*/
  }

  .catalog__container {
    width: 100%;
    text-align: center;

  }

  .catalog__heading {
    width: 39%;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
    line-height: 24px;

    /*outline: 2px solid red;*/
  }

  .catalog__vary-name {
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    /*background-color: palegoldenrod;*/
  }

  .catalog__heading--more {
    line-height: 22px;
  }

  .catalog__text-smal {
    width: 51.5%;
    font-size: 16px;
    line-height: 18px;
    display: block;
    text-align: center;
    color: @special-dark-grey;
    margin-bottom: 87px;


  }
}



// ****************************************   DESCTOP   **************************************** //
