.contacts__info {
  display: flex;
  padding-left: 20px;
  justify-content: space-around;
}

/* Как без <br> сделать правильное расположение слов по строкам? */
.contacts__inviting {
  font-family: @oswald;
  color: @invite;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  margin-right: 17px;
  /* outline: 1px solid blue;*/
}

.contacts__address {
  font-family: @arial;
  color: @special-dark-grey;
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
}

.contacts__map {
  width: 100%;
  display: block;
  border: none;
}
