.contacts__info {
  display: flex;
  padding-left: 20px;
  justify-content: space-between;
}

/* Как без <br> сделать правильное расположение слов по строкам? */
.contacts__inviting {
  font-family: @oswald;
  color: @invite;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.contacts__address {
  font-family: @arial;
  color: @special-dark-grey;
  font-size: 14px;
  line-height: 20px;
}

.contacts__map {
  /*width: 320px;*/
  height: 362px;
  display: block;
  border: none;
}
