.copyright {
  min-width: 280px;
  margin-top: 28px;
  margin-bottom: 28px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  /*outline: 2px solid blue;
  outline-offset: -2px;*/
}

.copyright__link,
.copyright__link:hover {
  font-family: @arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @special-dark-grey;
}

.copyright__link:active {
  color: fade(@special-dark-grey, 30%);
}

.copyright__svg {
  fill: @special-grey-2;
}

.copyright__svg:hover {
  fill: @basic-primary;
}

.copyright__svg:active {
  fill: fade(@basic-primary, 30%);
}

//  ****************************************   TABLET   ****************************************  //
@media (min-width: @tablet-width) {
  .copyright {
    min-width: 33.3%;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    justify-content: flex-end;
  }

  .copyright__link {
    margin-right: 22px;
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .copyright {
    justify-content: flex-end;
    margin-right: 0;
  }

  .copyright__link {
    margin-right: 22px;
  }
}
