.copyright {
  display: flex;
  justify-content: space-between;
  margin-top: 28px;
  margin-bottom: 28px;
  align-items: center;
}

.copyright__link,
.copyright__link:hover {
  font-family: @arial;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-decoration: none;
  color: @special-dark-grey;
}

.copyright__link:active {
  color: fade(@special-dark-grey, 30%);
}

.copyright__svg {
  fill: @special-grey-2;
}

.copyright__svg:hover {
  fill: @basic-primary;
}

.copyright__svg:active {
  fill: fade(@basic-primary, 30%);
}
