.description {
  width: 280px;
  margin-left: auto;
  margin-right: auto;
  /*outline: 4px solid skyblue;
  outline-offset: -4px;*/
}

.description__title {
  font-size: 36px;
  line-height: 40px;
  font-family: @oswald;
  font-weight: 400;
  margin-top: 25px;
  margin-bottom: 38px;
}

.description__list {
  list-style: none;
  margin-top: 10px;
  padding-left: 0;
}

.description__item {
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
  padding-left: 80px;
  margin-bottom: 26px;
  position: relative;

  &:last-child {
    margin-bottom: 46px;
  }

  &--leaf::before {
    content: " ";
    position: absolute;
    display: block;
    width: 60px;
    height: 60px;
    background: @basic-primary url("../img/icon-leaf.svg") no-repeat 50%;
    left: 0;
  }

  &--tub::before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    background: @basic-primary url("../img/icon-tub.svg") no-repeat 50%;
    left: 0;
  }

  &--eat::before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    background: @basic-primary url("../img/icon-eat.svg") no-repeat 50%;
    left: 0;
  }

  &--alarm::before {
    content: " ";
    position: absolute;
    width: 60px;
    height: 60px;
    background: @basic-primary url("../img/icon-alarm.svg") no-repeat 50%;
    left: 0;
  }
}

//  ****************************************   TABLET   ****************************************  //

@media (min-width: @tablet-width) {
  .description {
    width: 100%;
  }

  .description__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 45px;
    margin-bottom: 72px;
  }

  .description__list {
    margin-top: 0;
    margin-bottom: 0;
    height: 597px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .description__item {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 37px;
    width: 37%;
    margin-right: 13%;
    padding-top: 151px;
    padding-left: 0;
    padding-bottom: 57px;

    /*outline: 2px solid orange;
    outline-offset: -2px;*/

    &:nth-child(2n) {
      margin-left: 3%;
      margin-right: 5%;
    }

    &::before {
      width: 80px;
      height: 80px;
      top: 40px;
    }

    &--leaf {
      background: url("../img/number-1.svg") no-repeat;
    }

    &--tub {
      background: url("../img/number-2.svg") no-repeat;
    }

    &--eat {
      background: url("../img/number-3.svg") no-repeat;
    }

    &--alarm {
      background: url("../img/number-4.svg") no-repeat;
    }
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .description {
    height: 385px;
  }

  .description__title {
    margin-top: 71px;
    margin-bottom: 72px;
    margin-left: 110px;
    margin-right: 110px;

    /*outline: 2px solid orange;
    outline-offset: -2px;*/
  }

  .description__list {
    height: 227px;
    margin-left: 110px;
    margin-right: 106px;

    /*outline: 5px solid green;
    outline-offset: -5px;*/
  }

  .description__item {
    width: 20%;
    height: 280px;
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
    padding-top: 111px;
    padding-bottom: 0;
    box-sizing: border-box;

    &:nth-child(2n) {
      margin-left: 0;
      margin-right: 0;
      margin-bottom: 0;
    }

    &::before {
      top: 0;
    }
  }
}
