.example {
  background-color: @bg-example;
  padding: 1px 20px;
}

.example__title {
  font-family: @oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  margin-top: 25px;
}

.example__text {
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.example__stats {
  display: flex;
  justify-content: space-between;
}

.example__stats-list {
  width: 124px;
  height: 56px;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.example__stats-number {
  font-family: @oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-transform: uppercase;
}

.example__stats-entry {
  width: 75px;
  color: @special-dark-grey;
  font-family: @arial;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  background-color: @bg-example;
  position: absolute;
  text-align: center;
  top: 45px;
  left: -15px;
}

.example__costs {
  font-family: @oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
}

.example__cat-before {
  width: 311px;
  height: 232px;
  margin-left: -20px;
  margin-top: 38px;
}

.slider {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider__toggles {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  margin-bottom: 35px;
}

.slider__switcher {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  border: none;
  outline: none;
  background-color: @bg-example;
}

.slider__plank {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @special-grey;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 3px 17px 0 18px;
  position: relative;
}

.slider__plank-core {
  width: 35px;
  height: 6px;
  background-color: @basic-green;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 5px;
}
