.example {
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 35px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: @bg-example;
}

.example__title {
  font-family: @oswald;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;
  color: @basic-black;
  margin-top: 25px;

  /*outline: 4px solid orange;*/
}

.example__text {
  width: 280px;
  font-family: @arial;
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  color: @special-dark-grey;
}

.example__stats {
  display: flex;
  justify-content: space-between;

  /*outline: 3px solid red;*/
}

.example__stats-list {
  width: 124px;
  height: 56px;
  border: 1px solid @special-grey;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.example__stats-number {
  font-family: @oswald;
  font-weight: normal;
  font-size: 24px;
  line-height: 24px;
  color: @basic-black;
  text-transform: uppercase;
}

.example__stats-entry {
  width: 75px;
  color: @special-dark-grey;
  font-family: @arial;
  font-weight: normal;
  font-size: 12px;
  line-height: 12px;
  background-color: @bg-example;
  position: absolute;
  text-align: center;
  top: 45px;
  left: -15px;
}

.example__costs--full {
  font-family: @oswald;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  /*outline: 3px solid red;*/
}

.example__costs--left-part,
.example__costs--right-part {
  display: none;
}

.example__cat-before {
  width: 311px;
  height: 232px;
  margin-left: auto;
  margin-right: auto;
}

.example__cat-halfs {
  display: none;
}

// TABLET //
@media(min-width:@tablet-width) {
  .example {
    background-color: @basic-white;
    padding-left: 30px;
    padding-right: 30px;
    background: linear-gradient(to bottom, @basic-white 0, @basic-white 619px, @bg-example 619px, @bg-example 100%);

    position: relative;
    outline: 5px solid violet;
    outline-offset: -5px;
  }

  .example__stats-entry {
    background-color: @basic-white;
  }

  .example__wrap-stats {
    display: flex;
    justify-content: space-between;
  }

  .example__stats-list {
    width: 162px;
    height: 72px;
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 42px;
  }

  .example__stats-number {
    font-size: 30px;
    line-height: 37px;
  }

  .example__stats-entry {
    width: 135px;
    font-size: 14px;
    line-height: 14px;
    left: -27px;
    top: 60px;
  }

  .example__costs--full {
    display: block;
    width: 175px;
    font-size: 20px;
    line-height: 30px;
    text-align: end;
  }

  .example__costs--left-part,
  .example__costs--right-part {
    display: none;
  }

  .example__cat-before {
    display: none;
  }

  .example__cat-halfs {
    display: flex;
    justify-content: center;

    outline: 5px dashed green;
    outline-offset: -5px;
  }

  .example__thin-cat {
    margin-left: 0;
  }


  .example__text {
    display: block;
    width: 702px;
    font-size: 16px;
    line-height: 24px;

   /* outline: 3px solid blue;*/
  }
}

// DESKTOP //
@media(min-width:@desktop-width) {
  .example {
    padding: 0;
    display: flex;
    background: linear-gradient(to bottom, @basic-white 0, @basic-white 238px, @basic-grey 238px, @basic-grey 100%);
  }

  .example__left {
    width: 38.5%;
    margin-left: 110px;

    outline: 3px solid blue;
    outline-offset: -3px;
  }

  .example__title {
    font-size: 60px;
    line-height: 60px;
    margin-top: 70px;
  }

  .example__text {
    width: 79%;
    margin-top: 146px;
    margin-bottom: 69px;
  }

  .example__wrap-stats {
    display: block;
  }

  .example__stats {
    justify-content: start;
  }

  .example__stats-list {
    margin-top: 0;
    margin-bottom: 0;
  }

  .example__costs-wrap {
    display: flex;
    margin-top: 60px;

    /*outline: 3px solid skyblue;*/
  }

  .example__costs--full {
    display: none;
  }

  .example__costs--left-part,
  .example__costs--right-part {
    display: block;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
  }

  .example__costs--left-part {
    margin-right: 63px;
  }


}
