.form {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125em;
  color: @basic-black;
}

.form__group {
  border: none;
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
}

.form__pair {
  line-height: 30px;
  display: flex;
  align-items: center;
}

.form__label {
  color: @special-dark-grey;
  text-transform: uppercase;
}

.form__radio {
  margin-left: 0;
  margin-right: 0;
}

.form__label--radio {
  margin-left: 16px;
  color: @special-dark-grey-2;
}

.form__text,
.form__text--email,
.form__text--phone,
.form__textarea {
  height: 45px;
  font-size: 16px;
  font-family: @oswald;
  text-transform: uppercase;
  color: @special-dark-grey;
  padding-left: 15px;
  margin-left: 15px;
}

.form__label--checkbox {
  margin-left: 16px;
  color: inherit;
}

.form__textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  height: 150px;
  margin-left: 0;
}

.main__small {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-transform: none;
  text-align: center;
}
