.form {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.125em;
  color: @basic-black;
}

.form__group {
  color: @special-dark-grey;
  margin: 0;
  padding: 0;
  border: none;

  /*outline: 3px solid skyblue;
  outline-offset: -1px;*/

  &--name {
    padding-bottom: 24px;
    border-bottom: 1px solid @special-light-grey;
  }

  &--radio {
    color: @special-dark-grey-2;
    padding-top: 28px;
    padding-bottom: 25px;
    border-bottom: 1px solid @special-light-grey;

    /*outline: 1px solid darkred;*/
    /*width: 320px;
    margin-left: -20px;
    padding-left: 20px;
    box-sizing: border-box;*/
  }

  &--contacts {
    padding-top: 23px;
  }

  &--extra {
    color: @basic-black;
    padding-bottom: 34px;
    /* outline: 1px solid darkred;*/
  }
}

.form__pair {
  width: 100%;
  line-height: 30px;
  display: flex;
  align-items: center;
  /*outline: 1px solid orange;
  outline-offset: -1px;*/

  &--name {
    margin-top: 14px;
    margin-bottom: 14px;
  }

  &--radio {
    margin-top: 25px;
    margin-bottom: 24px;
  }

  &--contacts {
    margin-bottom: 14px;
  }

  &--extra {
    margin-bottom: 12px;
  }
}

.form__label {
  color: @special-dark-grey;
  text-transform: uppercase;
  /*outline: 1px solid green;*/

  &--radio {
    color: @special-dark-grey-2;
    position: relative;
    margin-left: 45px;
    /*outline: 1px solid darkgreen;*/
  }

  &--radio::before {
    content: " ";
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: @basic-white;
    border: 1px solid @special-grey;
    left: -45px;
  }

  &--radio::after {
    content: " ";
    position: absolute;
    width: 13.5px;
    height: 13.5px;
    border-radius: 50%;
    background-color: @basic-primary;
    left: -29px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }

  &--checkbox {
    margin-left: 46px;
    color: inherit;
    position: relative;
    /*outline: 1px solid green;*/
  }

  &--checkbox::before {
    content: " ";
    width: 30px;
    height: 30px;
    background-color: @basic-white;
    border: 1px solid @special-grey;
    position: absolute;
    vertical-align: middle;
    left: -46px;
  }

  &--checkbox::after {
    content: " ";
    background: url("../img/tick.svg") no-repeat;
    width: 18px;
    height: 14px;
    position: absolute;
    left: -30px;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
  }
}

.form__radio:checked+.form__label--radio::after {
  display: block;
}

.form__checkbox:checked+.form__label--checkbox::after {
  display: block;
}

.form__text,
.form__textarea {
  height: 45px;
  font-size: 16px;
  font-family: @oswald;
  text-transform: uppercase;
  text-decoration: none;
  color: @special-dark-grey;
  padding-left: 15px;
  margin-left: 15px;
  flex-grow: 1;
  box-sizing: border-box;
  border: 1px solid @form-border;
  /*outline: 2px solid black;*/
}

.form__textarea {
  font-family: inherit;
  resize: none;
  width: 100%;
  min-height: 150px;
  margin-left: 0;
}

.form__text--email {
    background: url("../img/form-icon-email.svg") no-repeat no-repeat 93% 50%;
}

.form__text--phone {
  background: url("../img/form-icon-phone.svg") no-repeat no-repeat 93% 50%;
}

.form__legend {
  font-size: 24px;
  line-height: 26px;

  &--contacts {
    margin-top: 26px;
    margin-bottom: 35px;
  }

  &--comments {
    margin-top: 23px;
    margin-bottom: 38px;
  }

  &--extra {
    margin-top: 23px;
    margin-bottom: 34px;
  }
}

.form__small {
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: @basic-black;
  text-transform: none;
  text-align: center;
  margin-top: 21px;
  margin-bottom: 0;
  padding-bottom: 32px;
}

//  ****************************************   TABLET   ****************************************  //
@media (min-width: @tablet-width) {
  .form__group {
    border: none;

    &--name {
      padding-bottom: 0;
      border-bottom: none;
    }

    &--radio {
      margin-top: 72px;
      margin-bottom: 75px;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 28px;
      border-bottom: none;
      border: 1px solid @form-border;
      box-sizing: border-box;
    }

    &--contacts {
      padding-top: 0;
    }

    &--extra {
      padding-bottom: 22px;
      display: flex;
      flex-wrap: wrap;
    }
  }

  .form__pair {
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    /*outline: 3px solid orange;
    outline-offset: -1px;*/

    &--name {
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &--radio {
      margin-top: 23px;
      margin-bottom: 23px;
    }

    &--contacts {
      margin-bottom: 20px;
    }

    &--comments {
      margin-bottom: 65px;
    }

    &--extra {
      width: 220px;
      height: 52px;
      margin-bottom: 32px;
    }

    &--extra:nth-child(odd) {
      margin-right: 120px;
    }
  }

  .form__label--radio {
    margin-left: 40px;
  }

  .form__legend {
    font-size: 36px;
    line-height: 36px;
    color: @basic-black;

    &--contacts {
      margin-top: 0;
      margin-bottom: 76px;
    }

    &--comments {
      margin-top: 65px;
      margin-bottom: 76px;
    }

    &--extra {
      margin-top: 0;
      padding-top: 0;
      margin-bottom: 57px;
    }
  }

  .form__extra-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .form__text {
    height: 52px;
    font-size: 20px;
    padding-left: 19px;
    margin-left: 10px;
    /*color: darkblue;*/

    &--email,
    &--phone {
      padding-left: 21px;
    }
  }

  .form__textarea {
    min-height: 174px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 15px;
    padding-top: 10px;
    border: 1px solid @form-border;
    /* border: 1px solid black;*/
  }

  .form__final {
    display: flex;
    margin-bottom: 72px;
  }

  .form__small {
    width: 200px;
    height: 52px;
    font-size: 16px;
    margin-top: 0;
    padding: 0;
    display: flex;
    text-align: left;
    align-items: center;
    box-sizing: border-box;
    /*outline: 1px solid red;*/
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .form {
    min-width: 1220px;
    margin-left: auto;
    margin-right: auto;
  }

  .form__couple {
    display: flex;
    justify-content: space-between;
    margin-bottom: 69px;
  }

  .form__group {
    width: 100%;

    &--name {
      margin-right: 80px;
      margin-left: 0;
    }

    &--radio {
      margin: 0;
      padding-bottom: 30px;
    }

    &--contacts {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    &--extra {
      padding-bottom: 0;
      display: flex;
      justify-content: space-between;
      flex-wrap: nowrap;
    }
  }

  .form__text {
    height: 57px;
  }

  .form__pair {
    width: 100%;

    &--name {
      margin-top: 26px;
      margin-bottom: 26px;
    }

    &--contacts {
      margin-right: 80px;
      margin-bottom: 0;
    }

    &--extra {
      width: 220px;
      margin-bottom: 0;
      /*margin-left: 0;
      margin-right: 0;*/
    }

    &--extra:nth-child(1) {
      margin-right: 105px;
    }

    &--extra:nth-child(2) {
      margin-right: 103px;
    }

    &--extra:nth-child(3) {
      margin-right: 140px;
    }
  }

  .form__extra-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-bottom: 61px;
    /*outline: 3px solid skyblue;*/
  }

  .form__final {
    display: flex;
    justify-content: start;
    margin-bottom: 0;
  }

  .form__small {
    margin-left: 81px;
  }
}
