.main-nav {
  min-width: 320px;
  margin-left: 20px;
  margin-right: 20px;

  /*outline: 4px dashed blue;
  outline-offset: -4px;*/
}

.main-nav__list {
  list-style: none;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  flex-direction: column;
}

.main-nav__item {
  margin-top: 24px;
  margin-bottom: 24px;
}

.main-nav__link {
  text-decoration: none;
  font-family: @oswald;
  font-weight: 700;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
}

.main-nav__link:hover {
  color: fade(@basic-black, 60%);
}

.main-nav__link:active {
  color: fade(@basic-black, 80%);
}

.main-nav__link--current {
  text-decoration: underline;
  text-decoration-color: @basic-primary;
  text-underline-position: under;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.main-nav__close {
  position: relative;
  margin-top: 0;
  margin-left: 250px;
  /*background-color: transparent;
  border: 0;*/
  background-color: red;
}

/*.main-nav__close::before,
.main-nav__close::after {
  content: " ";
  position: absolute;
  width: 23px;
  height: 0;
  border: 1px solid @basic-black;
  top: 0;
  left: 0;
  background-color: black;
}*/

.main-nav__close::before {
  transform: rotate(45deg);
}

.main-nav__close::after {
  transform: rotate(-45deg);
}

// TABLET //
@media (min-width: @tablet-width) {
  .main-nav {
    width: 57%;
    margin-right: 30px;
  }

  .main-nav__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 108px;
    margin: 0;
  }

  .main-nav__close {
    display: none;
  }

  .main-nav__link {
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
  }

  .main-nav__item {
    margin: 0;
  }
}

// DESKTOP //
@media (min-width: @desktop-width) {
  .main-nav {
    width: 50%;
    margin-left: 0;
    margin-right: 110px;
    /*padding-left: 130px;*/
    justify-content: end;
  }

  .main-nav__item:first-child {
    margin-left: 130px;
  }

  .main-nav__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: @basic-white;
  }
}

//* Декоративные полоски *//
/*.main-nav__link::before {
    content: " ";
    position: absolute;
    width: 320px;
    height: 0;
    left: 0;
    top: 0;
    border: 1px solid @color-decor;
  }

  .main-nav__link--catalog::before {
    content: " ";
    position: absolute;
    width: 320px;
    height: 0;
    left: 0;
    top: 70px;
    border: 1px solid @color-decor;
  }

  .main-nav__link--programm::before {
    content: " ";
    position: absolute;
    width: 320px;
    height: 0;
    left: 0;
    top: 140px;
    border: 1px solid @color-decor;
  }*/
