.main {
  width: 320px;
  background-color: @basic-white;
}

.main__intro {
  padding-right: 20px;
  padding-left: 20px;
  background:
    url("../img/index-can-mobile-1.png") no-repeat,
    url("../img/index-background-desktop-2.jpg") no-repeat,
    fade(@basic-primary, 85%) no-repeat ;

}

.main__title--major {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  text-align: center;
  margin-bottom: 27px;
  position: relative;
}

.main__slogan {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

