.main {
  width: 320px;
  background-color: @basic-white;
}

.main__intro {
  padding: 1px 20px;
  background: url("../../img/index-background-desktop-2.jpg") no-repeat;
  /*множественный фон - ??? */
}

.main__title {
  font-family: @oswald;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @basic-white;
  text-align: center;
  margin-bottom: 27px;
  position: relative;
}

.main__slogan {
  font-family: @oswald;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: @basic-white;
  text-transform: uppercase;
  text-align: center;
  position: relative;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: @basic-white;
  background-color: @basic-green;
  font-size: 14px;
  line-height: 18px;
}
