.slider__toggles {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  margin-left: 0;
  margin-right: 0;

  /*outline: 2px solid blue;*/
}

.slider__switcher {
  font-family: @oswald;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @basic-black;
  border: none;
  outline: none;
  background-color: @bg-example;
}

.slider__plank {
  width: 84px;
  height: 14px;
  background-color: @basic-white;
  border: 1px solid @special-grey;
  border-radius: 6px;
  box-sizing: border-box;
  margin: 3px 17px 0 18px;
  position: relative;
}

.slider__plank-core {
  width: 35px;
  height: 6px;
  background-color: @basic-primary;
  border: none;
  border-radius: 6px;
  box-sizing: border-box;
  position: absolute;
  top: 3px;
  left: 5px;
}
