.table {
  min-width: 100%;

  /*outline: 1px solid orange;
  outline-offset: -1px;*/
}

.table__pair {
  display: flex;
  justify-content: space-between;

  /*background-color: palegreen;*/
}

.table__head,
.table__value {
  text-decoration: none;
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

.table__pair--extra {
  width: 280px;
  margin-bottom: 17px;
}

//  ****************************************   TABLET   ****************************************  //

@media (min-width: @tablet-width) {
  .table {
    min-width: 77%;
    margin-left: auto;
    margin-right: auto;

    position: relative;
  }

  .table__pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid @special-grey;
    /*background-color: palegreen;*/
  }
/*
  .table__pair::after {
    content: " ";
    position: absolute;
    width: 100%;
    height: 0;
    border-bottom: 1px solid blue;
  }
*/
  .table__head,
  .table__value {
    font-size: 16px;
    line-height: 32px;
    color: @special-dark-grey;
  }
}

// ****************************************   DESCTOP   **************************************** //
