.table {
  /*min-width: 100%;*/
  width: 142px;

  /*outline: 2px solid orange;
  outline-offset: -2px;*/
}

.table__pair {
  display: flex;
  justify-content: space-between;
}

.table__head,
.table__value {
  text-decoration: none;
  font-family: @arial;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  display: block;
}

// Дополнительные товары //
.table-extra {
  min-width: 280px;
  margin-left: auto;
  margin-right: auto;
}

.table__pair--extra {
  width: 280px;
  margin-bottom: 17px;
}

//  ****************************************   TABLET   ****************************************  //

@media (min-width: @tablet-width) {
  .table {
    min-width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    position: relative;
  }

  .table__pair {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    border-bottom: 1px solid @special-grey;

    /*background-color: thistle;*/
  }

  .table__head,
  .table__value {
    font-size: 16px;
    line-height: 32px;
    color: @special-dark-grey;
  }

  // Дополнительные товары //
  .table-extra {
    min-width: 32%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: end;
  }

  .table__pair--extra {
    border: none;
    justify-content: end;
  }

  .table__head--extra {
    margin-right: 0;
  }

  .table__value--extra {
    margin-left: 49px;
  }
}

// ****************************************   DESCTOP   **************************************** //
@media (min-width: @desktop-width) {
  .table {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 33px;
    margin-left: 0;
    margin-right: 0;
  }

  // Дополнительные товары //
  .table-extra {
    min-width: 285px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: end;
  }

  .table__pair--extra {
    width: 285px;
    border: none;
    justify-content: space-between;
  }
}
