//  COLORS
@basic-white: #FFFFFF;
@basic-black: #000000;
@basic-green: #68B738;
@basic-grey: #F2F2F2;

@invite: #111111;
@slider: #DCDCDC;
@bg-example: #EAEAEA;
@special-grey: #CDCDCD;
@special-grey-2: #666666;
@special-dark-grey: #444444;
@special-light-grey: #D9D9D9;
@special-dark-grey-2: #222222;


@color-red: red;
@color-blue: rgb(0, 81, 255);
@color-brown: brown;
@color-skyblue: skyblue;
